* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button,
input {
  display: block;
}
input {
  margin-top: 0.8rem;
  outline: none;
}
button {
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}
.add_btn {
  color: blue;
  font-size: 0.8rem;
  cursor: pointer;
}
